<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/homepage.css">
</head>
<body>
<!--menu part-->
<nav th:replace="admin/_fragments :: menu" class="ui m-color-amazon attached segment m-padding-tb-mini">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">Manager</h2>
      <a href="#" class="item m-item m-mobile-hide"><i class="home icon"></i>Blog</a>
      <a href="#" class="item m-item m-mobile-hide"><i class="idea icon"></i>Types</a>
      <a href="#" class="item m-item m-mobile-hide"><i class="tags icon"></i>Tags</a>
      <div class="right m-item m-mobile-hide menu">
        <div class="ui dropdown item">
          <div class="text">
            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
            Yuanhang
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" class="item">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black button m-sidebar-top-right m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>

<!--main part-->
<div class="m-container-small m-padding-tb-large">
  <div class="ui container">
    <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
      <i class="close icon"></i>
      <div class="header">提示：</div>
      <p th:text="${message}">操作成功！</p>
    </div>
    <!--                查询结果-->
    <table class="ui table">
      <thead>
      <tr>
        <th></th>
        <th>Tag Name</th>
        <th>Operation</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tag, iterStat : ${page.content}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${tag.name}">操作系统</td>
        <td>
          <a href="#" th:href="@{/admin/tag-manager/{id}/input(id=${tag.id})}" class="ui mini basic teal button">Edit</a>
          <a href="#" th:href="@{/admin/tag-manager/{id}/delete(id=${tag.id})}" class="ui mini basic red button">Delete</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui pagination menu" th:if="${page.totalPages} > 1">
            <a th:href="@{/admin/tag-manager(page=${page.number}-1)}" class="icon item" th:unless="${page.first}">
              <i class="left chevron icon"></i>
            </a>
            <a th:href="@{/admin/tag-manager(page=${page.number}+1)}" class="icon item" th:unless="${page.last}">
              <i class="right chevron icon"></i>
            </a>
          </div>
          <a href="#" th:href="@{/admin/tag-manager/input}" class="ui right floated teal basic mini button">Add</a>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--foot part-->
<footer th:replace="admin/_fragments :: footer" class="ui m-color-amazon vertical segment">
  <div class="ui container">
    <div class="ui centered stackable grid">
      <div class="center aligned column">
        <div class="ui inverted compact secondary menu">
          <a href="#" class="item"><i class="github large icon"></i></a>
          <a href="#" class="item"><i class="linkedin large icon"></i></a>
          <a href="#" class="item"><i class="facebook large icon"></i></a>
          <a href="#" class="item"><i class="instagram large icon"></i></a>
        </div>
      </div>
    </div>
  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>

